# Flutter/Dart 기본
.dart_tool/
.packages
.pub/
build/

# Android
android/.gradle/
android/captures/
android/app/debug/
android/app/profile/
android/app/release/
*.jks

# iOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Pods/
ios/Runner.xcworkspace
ios/build/
*.xcuserstate
*.xcworkspace
*.xcuserdatad
*.lock

# Web
web/.dart_tool/
web/build/

# macOS
macos/Flutter/ephemeral/
macos/build/

# Windows
windows/Flutter/ephemeral/
windows/build/

# Linux
linux/Flutter/ephemeral/
linux/build/

# 기타 에디터/OS 임시파일
.DS_Store
.idea/
.vscode/
*.iml
*.swp

# 기타
*.log
*.tmp
*.bak

# pubspec.lock (패키지 버전 고정 필요 없을 때만)
# pubspec.lock
